extends layout

block title
  | Overdue Books
 
block content 
  h1 Overdue Books
  p
    a.button(href='books/new') Create New Book
  p
    | Filters 
    a(href='all_books') All
    |  | 
    a(href='overdue_books') Overdue
    |  | 
    a(href='checked_books') Checked Out
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      each overdue_loan in overdue_loans
        tr
          td
            a(href='book_detail') #{overdue_loan.Book.title}
          td #{overdue_loan.Book.author}
          td #{overdue_loan.Book.genre}
          td #{overdue_loan.Book.first_published}
        
